// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$iso-blue: #12947f;
$iso-orange: #FF8A65;
$iso-brown: #2E2E2E;
$iso-light-orange: #f9c49a;
