<% @law = Law.new %>
<div>
  <%= simple_form_for([group, @law], remote: true) do |f| %>
  <div class="form-law">
    <%= f.input :name, label: false %>
    <%= f.button :submit, 'SET LAW', class: "brown-btn" %>
  </div>
  <% end %>
</div>
