<div class="child-centered">

  <p style="margin-top: 0 !important; margin-bottom: 0; color: #2E2E2E; font-size: 16px">Welcome to <span style="margin-top: 0.5rem !important; font-family: 'Roboto', sans-serif; color: #FF8A65; font-size: 20px">iso</span><span style="margin-top: 0.5rem !important; font-family: 'Roboto', sans-serif; color: #2E2E2E; font-size: 20px">Court</span></p>
  <br>
  <p style="margin-bottom: 0; text-align: left; font-size: 13px">This platform was built by a team of junior devs for the "Hack the Crisis Australia" hackathon in 2020.</p>
  <p style="margin-bottom: 0.5rem; text-align: left; font-size: 13px">We had 48h to come up with a product that could help with wellness and health during the COVID-19 crisis. The problem we wanted to solve was the following:</p>
  <p style="margin-bottom: 0; text-align: center; font-size: 13px"><i>How to address the social isolation and anxiety caused by confinement, while encouraging good practices?</i></p>
  <p style="margin-bottom: 0; margin-top: 0.5rem; text-align: left; font-size: 13px">This is how we came up with the idea of <span style="font-family: 'Roboto', sans-serif; color: #FF8A65">iso</span><span style="font-family: 'Roboto', sans-serif; color: #2E2E2E">Court</span>:</p>
  <p style="margin-bottom: 0; text-align: left; font-size: 13px">A gamified social platform that allows you to connect with your friends and family on a weekly basis (social interaction), to review the past few days actions of each others (good pratices and peer-to-peer accountability), and to engage in building positive habits for the days coming (self-care and group motivational support), all of which in a gamified context (anxiety relief).</p>
  <p style="margin-bottom: 0; text-align: left; font-size: 13px">Want to join? It's easy: sign up, build a team, pick a trial day, and start your <span style="font-family: 'Roboto', sans-serif; color: #FF8A65">iso</span><span style="font-family: 'Roboto', sans-serif; color: #2E2E2E">Court</span> journey!</p>

  <p style="font-size: 14px; text-align: right; margin-top: 1rem"><i>The <span style="font-family: 'Roboto', sans-serif; color: #FF8A65">iso</span><span style="font-family: 'Roboto', sans-serif; color: #2E2E2E">Court</span> team</i></p>

</div>
