<div class="modal fade" id="pres-modal" tabindex="-1" role="dialog" aria-labelledby="presModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title pl-2" id="exampleModalLabel" style="font-family: 'Roboto', sans-serif; color: #FF8A65">iso</h2><h2 class="modal-title" style="font-family: 'Roboto', sans-serif; color: #2E2E2E">Court</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-4 pr-4">
        <%= render 'shared/iso_pres' %>
      </div>
    </div>
  </div>
</div>
