<div class="container">
  <%= simple_form_for [Sentence.new] do |f| %>
  <div class="form-card">
    <%= f.input :user_charge_id, as: :hidden %>
    <%= f.input :description %>
    <%= f.button :submit, 'SENTENCE', class: "orange-btn" %>
  </div>
  <% end %>
</div>
