.laws {
  text-align: center;
  position: relative;
  width: 85%;
  max-height: 270px;
  margin-top: 36px !important;
  background-color: $iso-orange;
  padding: 10px;
  border-radius: 4px;
  p {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto;
  }
  section {
    position: relative;
    border-top: solid 1px #f9b09c;
    border-bottom: solid 1px #da7555;
    padding: 5px 0;
  }
  section::before {
    position: absolute;
    content: "";
    width: 100%;
    border-top: solid 1px #da7555;
    top: -2px;
    left: 0;
  }
  section::after {
    position: absolute;
    content: "";
    width: 100%;
    border-top: solid 1px #f9b09c;
    bottom: -2px;
    left: 0;
  }
}

.laws-list {
  max-height: 95px;
  overflow: scroll;
  color: $iso-brown;
}

.form-law {
  margin-top: 10px;
  text-align: center;
  .brown-btn {
    position: relative;
    top: -7px;
  }
}

#law_name {
  border: 1px solid #da7555;
  border-bottom-width: 3px;
  border-radius: 5px;
  outline: 0;
  &:focus {
    border-color: #ab593f;
  }
}
